.post_contant {
  padding: 30px;
}

.post {
  background-color: aqua;
  margin: 20px;
  padding: 10px 20px;
  width: 80%;
  border-radius: 20px;
  cursor: pointer;
}

.post p {
  font-size: 18px;
}
.none {
  display: none;
}
